@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700i|Roboto';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

html, body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9 !important;
}

.main-block {
	color: black;
  background-color: white;
	text-align: center;
	padding-top: 40px;
	margin-bottom: 40px;
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
}

.material-card {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

/*.outer-block {
	text-align: center;
}*/

.inner-block {
	padding: 20px;
	/*max-width:600px; */
	text-align: center;
	/*border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid #eee;*/
	position: relative;
}

.bloom-anchor {
	color: #DFBFC0 !important;

}

.hr-pink {
	background: #FBD3DB;
	height: 2px;
	width: 70%;
}

.pink-strip {
	background-color: #FBD3DB;
	color: #796F70;
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

.pink-strip a{
	color: #796F70 !important;
	text-decoration: none !important;
}

.grey-footer {
	background-color: #BCBDBF;
	padding: 20px 10px 40px 10px;
	color: #796F70;
	text-align: center;
}

.grey-footer a {
	color: #796F70 !important;
}

.button-pink {
	height: 40px;
	width: 100px;
	background-color: #fbd3db;
	color: white;
}

.invite-background {
	background: url('http://i.imgur.com/tDuzhqY.jpg');
	background-size: auto 100%;
	background-position: 0% 0% ;
}

.circle {
    background: #fbd3db;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.circle:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	transition: 0.8s;
	background: #ffb5c3;

}

.circle-number {
    line-height: 150px;
    text-align: center;
    font-size: 48px;
}

a {
	color: #808080 !important;
	text-decoration: none !important;
}

.c-padding {
	margin-bottom: 30px;
}

.circle-text-after {
	padding: 15px;
	font-size: 18px;
}

.floating-pic {
	position: absolute;
	top: 5px;
	right: 20px;
}

.profile-pic {
  overflow:hidden;
  left: 10px;
  height:150px;
  width:150px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
          border-radius: 50%;

}

.profile-pic img {
  display: inline-block;
  max-height: 170px;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.profile-pic-outer {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  height: 170px;
  width: 170px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
          border-radius: 50%;

  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
     -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
      -ms-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

p {
	color: black;
}

/*TEMPLATES*/

/*DEFAULT*/
.cursive-text h1 {
		font-size: 92px !important;
		font-family: "Great Vibes", cursive;
    /*deprecated for now*/
		/*background: -webkit-linear-gradient(#EFCAC1, #D5A29E);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;*/
    color: #efcac1;
		line-height: 40px;
		padding-bottom: 40px;
		padding-top: 40px;
		margin: 0px;
}

.default-main-body {
	padding-top: 50px;
}

.default-section-1 {
	position: relative;
	padding-bottom: 30px;
}
.default-section-1 p {
  max-width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

.default-section-2 {
	position: relative;
}

.default-section-2 p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}


.default-foreground {
	position: relative;
	z-index: 3;
}

.default-background {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
}

.dbl{
  max-width: 30%;
  height: auto;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.default-background-r {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
}

.dbr{
  max-width: 30%;
  height: auto;
  position: absolute;
  right: 0%;
  bottom: 50%;
}

.default-accept-btn{
    padding:0px;
    color: white;
    font-size: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
	display: inline-block;
	max-width: 300px;
	min-width: 180px;
	height: 50px;
	min-height: 40px;

	/*Styling*/
	border: 3px solid #F8BBD0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
            border-radius: 3px;
	background-color: #F8BBD0;
}

.default-accept-btn:active:hover{
  background-color:#F8BBD0;
  border: 3px solid #F8BBD0;
  color: white;
}

.default-accept-btn:active:focus{
  background-color:#F8BBD0;
  border: 3px solid #F8BBD0;
  color: white;
}

.default-decline-btn{
    padding:0px;
    color: #F8BBD0;;
    font-size: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
	display: inline-block;
	max-width: 300px;
	min-width: 180px;
	height: 50px;
	min-height: 40px;

	/*Styling*/
	border: 3px solid #F8BBD0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
            border-radius: 3px;
	background-color: white;
}


.default-decline-btn:active:hover{
  background-color:white;
  border: 3px solid #F8BBD0;
  color: #F8BBD0;
}

.default-decline-btn:active:focus{
  background-color:white;
  border: 3px solid #F8BBD0;
  color: #F8BBD0;
}
